.shopTitle {
  font-weight: bolder;
  font-size: xxx-large;
  font-family: cursive;
  margin-top: 2rem;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 14rem; /* Added a margin to push the label over the center of page*/
  align-items: center;
  text-align: center;
}
.mockItems {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

.mockItem {
  border-radius: 15px;
  width: 250px;
  height: 350px;
  margin: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mockItem img {
  width: 400px;
}

.mockItem .description {
  text-align: center;
  font-family: cursive;
  font-size: x-large;
  margin-top: 2rem;
}

.mockItem .description .item-price {
  text-align: center;
  font-family: cursive;
  font-size: x-large;
}

.product:hover {
  transition: 0.3s ease-in;
  cursor: pointer;
}

.addToCartBttn {
  background-color: #d27685;
  border: 2px solid transparent;
  color: white;
  font-family: cursive;
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 1.25rem;
}

.addToCartBttn:hover {
  background-color: #f68a9c;
  color: white;
  cursor: pointer;
}

.itemProp {
  width: 10vw;
  padding: 10px;
  border-style: solid;
  border-radius: 20px;
  border-width: 3px;
}

.listingsPage {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  height: 100%;
  border-style: solid;
  border-color: #d27685;
  border-width: 2px;
}

.individualListing {
  padding: 10px;
}
