.accountNavButton {
  text-size-adjust: larger;
}

.flyoutAccountButton {
  display: block;
  background-color: #4e496a;
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
  --tw-text-opacity: 1;
  color: rgb(229 231 235 / var(--tw-text-opacity));
}

.h1 {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  flex-grow: 1;
  font-family: cursive;
  font-size: larger;
}
