* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

.multiCarousel {
  justify-content: stretch;
  height: 70vh;
  width: flex;
  margin: 0.5rem;
  border-style: solid;
  border-width: 4px;
  border-radius: 30px;
  flex-shrink: 0;
}

.sidescrolling-box {
  padding: 1rem;
  width: fit-content;
  justify-content: flex-end;
  height: 60vh;
  border-style: solid;
  border-width: 1px;
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
}
